.CircuitMenuPage {
  display: flex;
  flex-direction: column;
  .title {
    background-color: var(--color-light-grey);
    border-top: 20px solid var();
    padding: 15px;
    font-size: 2rem;
    font-weight: bold;
  }
  .scrollable {
    overflow: auto;
    .table {
      width: 100%;
      align-self: center;
      text-align: left;
      .table-row {
        &:hover {
          background-color: var(--color-light-grey);
          cursor: pointer;
        }
      }
      a {
        display: flex;
        text-decoration: none;
        color: black;
      }
    }
  }
  .pagination {
    flex: 1;
    background-color: var(--color-light-grey);
    padding: 5px;
    button {
      background-color: var(--color-white);
      padding: 5px;
      color: var(--color-secondary);
      font-weight: bold;

      &:disabled {
        background-color: var(--color-gray);
      }
    }
    input {
      background-color: var(--color-white);
      border: none;
      padding: 5px 10px;
      width: 90px;
    }

    select {
      background-color: var(--color-white);
      border: none;
      padding: 5px;
    }
  }
}
