.TeamMenuPage {
    display: flex;
    flex-direction: column;
    .title {
      background-color: var(--color-light-grey);
      border-top: 20px solid var();
      padding: 15px;
      font-size: 2rem;
      font-weight: bold;
    }
  }
  