.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
  }

  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--color-load-spinner);
    border-color: var(--color-load-spinner) transparent var(--color-load-spinner) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .delayedShow{
    visibility: hidden;
    animation: 0s linear 0.5s forwards delayedShow ;
  }

  @keyframes delayedShow {
    to {
      visibility: visible;
    }
  }