.DriverInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .driver-photo {
        line-height: 0;
        min-height: 500px;
    }

    .driver-name {
        background-color: var(--color-light-grey);
        width: 100%;
        font: {
            size: 2em;
            weight: bold;
        }
        padding: 10px;
    }

    .driver-info {
        display: grid;
        min-width: 350px;
        padding-left: 50px;
        padding-top: 20px;
        grid-template-columns: 1fr 1fr;
        font-size: 1.25em;

        .driver-info-left {
            font-weight: bold;
        }
        text-align: left;
        .driver-wikipage {
            grid-column: span 2;
        }
    }
}
