.GrandPrixArchiveTable {
  .table {
    margin: 0 auto;
    width: calc(100%); 
    max-width: 1100px;
    .table-body {
      text-align: left;
      .table-row {
        &:hover {
          background-color: var(--color-light-grey);
          cursor: pointer;
        }
      }
      .flag-column{
        text-align: center;
        img{
          vertical-align: middle;
        }
      }
    }
  }
}
