.GrandPrixYearSelector {
    background-color: var(--color-light-grey);
    .form-select {
        height: 40px;
        color: var(--color-secondary);
        border: 2px solid var(--color-secondary);
        border-radius: 5px;
        margin: 0 10px;
    }
    .form-select-button {
        margin: 0 10px;
        outline: none;
        height: 40px;
        text-align: center;
        width: 130px;
        border-radius: 5px;
        background: #fff;
        border: 2px solid var(--color-secondary);
        color: var(--color-secondary);
        letter-spacing: 1px;
        font: {
            size: 13px;
            weight: bold;
        }
        cursor: pointer;
        transition: all 0.25s ease;
        &:hover {
            color: var(--color-white);
            background: var(--color-secondary);
        }
        &:active {
            transform: scale(0.95);
        }
    }

    .slider{
        width: 94%;
        font-size: 1rem;
        margin: 0 auto;
        button {
            height: 40px;
            background-color: inherit;
            border: none;
            outline: none;
            cursor: pointer;
            transition: 0.3s;
            border-bottom-style: solid;
            border-bottom-width: 3px;
            border-bottom-color: transparent;
            &:hover{
                background-color: var(--color-light-blue);
            }
        }
        .button-selected {
            background-color: var(--color-light-blue);
            border-bottom-style: solid;
            border-bottom-width: 3px;
            border-bottom-color: var(--color-light-pink);
        }
    }
}
