.GrandPrixArchiveTable {
  .table {
    background-color: lightgray;
    .table-body {
      background-color: white;
      text-align: left;
      .table-row {
        &:hover {
          background-color: lightgray;
          cursor: pointer;
        }
      }
    }
  }
}
