.RaceResultTable {
    overflow: auto;
    .table {
        margin:0 auto;
        // background-color: var(--color-light-grey);
        text-align: left;
        width: calc(100%); 
        max-width: 1100px;
        .table-body {
            // background-color: var(--color-white);
            // text-align: left;
        }
    }
}
