.TeamInfo {
    .team-photo {
        line-height: 0;
        min-height: 500px;
        img {
            height: 500px;
            width: auto;
        }
    }

    .team-name {
        width: 100%;
        font: {
            size: 2em;
            weight: bold;
        }
        padding: 10px;
    }

    .team-info {
        display: grid;
        min-width: 350px;
        padding-left: 50px;
        padding-top: 20px;
        grid-template-columns: 1fr 1fr;
        font-size: 1.25em;

        .team-info-left {
            font-weight: bold;
        }
        text-align: left;
        .team-wikipage {
            grid-column: span 2;
        }
    }
}
