.Error {
  background-color: var(--color-grey);
  color: var(--color-light-grey);
  max-width: 1000px;
  height: calc(100vh - 63px);
  .wrap {
    display: flex;
    flex-direction: column;
    text-shadow: 1px 1px black;
    position: absolute;
    left: 50%;
    top: 25%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    .status {
      display: flex;
      flex: 1;
      font-size: 3em;
      margin-bottom: 20px;
      align-items: baseline;
      .code {
        flex: 1;
        font-size: 4rem;
        text-align: right;
        color: var(--color-secondary);
      }
    }
    .message {
      flex: 1;
      color: var(--color-light-grey);
      font-size: 2em;
    }
  }
}
