.header {
  display: flex;
  height: 60px;
  flex: 1;
  flex-direction: row;
  background-color: var(--color-purple);
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  border-bottom: 3px solid var(--color-light-pink);
  font-size: 25px;

  .page {
    display: flex;
    width: 100%;
    flex: 1;
    .header-logo {
      flex: 1 calc((100% - 1000px)/2);
      display: flex;
      justify-content: left;
      align-items: center;
      padding: 20px;
      font-family: RobotoThin, serif;
      font-size: 50px;
      a {
        text-decoration: none;
      }
    }
    .navbar {
      flex: 1 calc((100% - 1000px)/2 + 1000px);
    }
  }
}
