:root {
  --color-secondary: #bf1650;
  --color-light-pink: #ec5990;
  --color-primary: #0e101c;
  --color-blue: #1e2a4a;
  --color-button-blue: #191d3a;
  --color-light-blue: #516391;
  --color-link: #ff7aa8;
  --color-medium-blue: #4f6294;
  --color-black: #2d2d2d;
  --color-purple: #0f111b;
  --color-grey: #333;
  --color-light-grey: #dfcaeb;
  --color-white: white;
  --color-load-spinner: #aeaeae;
}

.App {
  text-align: center;
  background-color: var(--color-white);

  .page-content {
    max-width: 1000px;
    margin: 0 auto;
  }

  .header {
    z-index: 20000;
  }
}
